/* CARD SECTION */

.card-main {
  width: 60%;
  margin-top: 30px;
  background: #fff;
  font-family: "Courier New", Courier, monospace, serif;
  place-content: center;
  -webkit-box-shadow: 0 4px 15px rgba(153, 153, 153, 0.3);
  box-shadow: 0 4px 15px rgba(153, 153, 153, 0.3);
  -webkit-transition: 0.5s;
  opacity: 1;
  transition: 0.5s;
}

/* END */

input.form-control,
select.form-control,
textarea.form-control {
  background: transparent;
  border-bottom: 1px solid #000;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  height: 30px;
  line-height: 10px;
  outline: none;
}

/* CONTACT COMPONENT */

.card-contact {
  width: 70%;
  margin-top: 50px;
  background: #fff;
  color: #000;
  font-family: "Courier New", Courier, monospace, serif;
  place-content: center;
}

.contact-header {
  font-size: 20px;
  border-bottom: 2px solid #000;
}

.card-contact:hover {
  -webkit-box-shadow: 0 4px 15px rgba(153, 153, 153, 0.3);
  box-shadow: 0 4px 15px rgba(153, 153, 153, 0.3);
  -webkit-transition: 0.5s;
  opacity: 1;
  transition: 0.5s;
}

/* END CONTACT */

.btn-submit {
  background: #008000;
  color: #fff;
  font-size: 18px;
  width: 14rem;
  border-radius: none;
}

.btn-fb {
  background: #2c0bbd;
  color: #fff;
  font-size: 18px;
  width: auto;
  border-radius: none;
}

@media only screen and (max-width: 900px) {
  .card-contact {
    width: 100%;
  }
}

@media only screen and (max-width: 900px) {
  .card-main {
    width: 100%;
  }
}

@media only screen and (max-width: 900px) {
  body {
    overflow: visible;
  }
}
