.card-main {
  width: 80%;
  margin-top: 50px;
  background: #fff;
  font-family: "Courier New", Courier, monospace, serif;
  place-content: center;
}

.select {
  width: 80%;
}

.card-about {
  width: 70%;
  margin-top: 30px;
  background: #fff;
  color: #000;
  font-size: 18px;
  border-style: dotted;
  font-family: "Courier New", Courier, monospace, serif;
  place-content: center;
}

.content-main {
  margin-right: 2px;
}

.about-title {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

.card-product-sale {
  width: 70%;
  margin-top: 30px;
}

.tit span {
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.form-control:focus{
  background: #f8f8f8;
  border-bottom-color: #008000;
  -webkit-appearance:none;
  box-shadow: none !important;
  outline: 0px !important;

}

.btn-order{
  width: 30%;
  background: #080;
  color: #fff;
  font-size: 18px;
  
  border-radius: 5px;
}

@media only screen and (max-width: 900px) {
  .card-contact {
    width: 100%;
  }
}

@media only screen and (max-width: 900px) {
  .card-main {
    width: 100%;
  }
}

@media only screen and (max-width: 900px) {
  body {
    overflow: visible;
  }
}
