.card-main {
  width: 80%;
  margin-top: 50px;
  background: #fff;
  font-family: "Courier New", Courier, monospace, serif;
  place-content: center;
  /* -webkit-box-shadow: 0 4px 15px rgba(153, 153, 153, 0.3);
  box-shadow: 0 4px 15px rgba(153, 153, 153, 0.3);
  -webkit-transition: 0.5s;
  opacity: 1;
  transition: 0.5s; */
}

.select{
  width: 80%;
}

@media only screen and (max-width: 900px) {
  .card-contact {
    width: 100%;
  }
}

@media only screen and (max-width: 900px) {
  .card-main {
    width: 100%;
  }
}

@media only screen and (max-width: 900px) {
  body {
    overflow: visible;
  }
}
