.main {
  min-height: calc(101.6vh - 66px);
  background: url("../images/image11.png") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-product {
  display: inline-block;
  text-decoration: none;
  letter-spacing: 3px;
  color: #fff;
  background: #008000;
  padding: 0.4rem 0.9rem;
  border: 3px solid #008000;
  transition: all 0.3s linear;
  text-transform: uppercase;
  cursor: pointer;
}
.btn-product:hover {
  background: 089252;
  color: #0cf588;
}
