.productContainer {
  margin-top: 50px;
}
.dlist-align dt {
  width: 150px;
  float: left;
  word-wrap: break-word;
}

.card-product {
  margin-bottom: 5px;
  margin-top: 20px;
  width: 95%;
}

.img-wrap {
  margin-right: 1rem;
}

.card-product .img-wrap {
  border-radius: 0.2rem 0.2rem 0 0;
  overflow: hidden;
  position: relative;
  height: 220px;
  text-align: center;
}

.card-product .img-wrap img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  display: inline-block;
  -o-object-fit: cover;
  object-fit: cover;
}

.card-product .info-wrap {
  overflow: hidden;
  padding: 15px;
  border-top: 1px solid #eee;
}



.card-product .bottom-wrap {
  padding: 15px;
  border-top: 1px solid #eee;
}

.card-product .title {
  margin-top: 0;
}

.card-md .img-wrap {
  height: 180px;
}

.card .img-wrap {
  overflow: hidden;
}

.price-old {
  color: #000;
}

.product {
  color: #000;
}

.product:hover {
  color: #000;
}
